{% block busqueda %}
	
	<ul >

		{% for item in categorias %}
		    <li><a href="{{ path('search_ads_category',{'idCategory' : item.id, 'idCity': '3', 'latitude' : '0', 'longitude' : '0' ,'range' : '0'}) }}">{{ item.name }}</a></li>
		{% endfor %}
		{% for item in ads %}
		    <li><a href="#">{{ item.adheadline }}</a></li>
		{% endfor %}
		{% for item in products %}
		    <li><a href="#">{{ item.name }}</a></li>
		{% endfor %}
		<li>ciudad:  {{ pais }}</li>
	</ul>    
{% endblock %}
